/* styles/global.css */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9; /* Slightly off-white background */
    font-family: 'Lato', sans-serif;
    flex-direction: column;
}

